<!DOCTYPE html>
<html>
  <head>
    <title><%= Bookly %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Bookly %></h1>
    <p> Welcome to Bookly <%= title %></p>
  </body>
</html>
