<!DOCTYPE html>
<html>
  <head>
    <title>Bookly</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Bookly!</h1>
    <h2>The place for all your reading needs!</h2>
    <p>Here you can write your own books, read books and even draw your own comics.</p>
  </body>
</html>
